.secao-lamen {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-prato {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fafafa;
  width: 250px;
  align-items: center;
  padding: 18px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 10px 30px 10px;
  align-items: center;
}

.card-preco {
  font-size: 20px;
  font-weight: 500;
}
